<div>
  <%= f.label(:school) %><br>
  <%= f.text_field(:school) %>
</div>
<div>
  <%= f.label(:name) %><br>
  <%= f.text_area(:name) %>
</div>
<div>
  <%= f.label(:student_number) %><br>
  <%= f.text_field(:student_number) %>
</div>
<div>
  <%= f.label(:gpa) %><br>
  <%= f.number_field(:gpa) %>
</div>

